@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(to bottom, transparent, rgb(5, 5, 5))
    rgb(15, 15, 15);
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text {
    @apply text-wrap leading-loose tracking-wide lg:leading-9;
  }
  .section-wrap {
    @apply mx-6 md:max-w-3xl xl:max-w-4xl;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  --s: 18px;

  --_d: calc(0.353 * var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: grid;
}
.loader:before,
.loader:after {
  content: '';
  clip-path: polygon(
    var(--_d) 0,
    100% 0,
    100% calc(100% - var(--_d)),
    calc(100% - var(--_d)) 100%,
    0 100%,
    0 var(--_d)
  );
  background: conic-gradient(
    from -90deg at var(--s) var(--_d),
    #c785ec 135deg,
    #6e4189 0 270deg,
    #ae6dd3 0
  );
  animation: l4 1.2s infinite;
}
.loader:before {
  z-index: 1;
  margin-bottom: calc(var(--_d) / -2 - 1px);
}
.loader:after {
  margin-top: calc(var(--_d) / -2 - 1px);
  animation-delay: 0.6s;
}
@keyframes l4 {
  0% {
    transform: translate(0);
  }
  16.67% {
    transform: translate(-10px);
  }
  33.33% {
    transform: translate(10px);
  }
  50%,
  100% {
    transform: translate(0);
  }
}
